<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cskaoyan.mapper.UserMapper">
    <select id="select" resultType="com.cskaoyan.bean.param.User">
        select id,username,password,birthday,last_login_time as lastLoginTime from market_user
        where username like #{username} order by ${sort} ${order}
    </select>

    <select id="selectUserList" resultType="com.cskaoyan.bean.vo.userManager.UserEntity">
        select add_time as addTime,avatar,deleted,gender,id,last_login_ip as lastLoginIp,last_login_time as lastLoginTime,mobile,nickname,password,session_key as sessionKey,status,update_time as updateTime,user_Level as userLevel,username,weixin_openid as weixinOpenid from market_user
        <where>
            <if test="user!=null and user.username!=null and user.username != '' ">
                username like #{user.username}
            </if>
            <if test="user!=null and user.mobile!=null and user.mobile!= ''">
                mobile =#{user.mobile}
            </if>
            <if test="user!=null and user.userId!=null and user.userId!='' ">
                id=#{user.userId}
            </if>
            <if test="true">
                deleted=0
            </if>
        </where>
        order by ${sort} ${order}
    </select>

    <select id="selectUserById" resultType="com.cskaoyan.bean.vo.userManager.UserEntity">
        select add_time as addTime,avatar,deleted,gender,id,last_login_ip as lastLoginIp,last_login_time as lastLoginTime,mobile,nickname,password,session_key as sessionKey,status,update_time as updateTime,user_Level as userLevel,username,weixin_openid as weixinOpenid from market_user where id=#{id} and deleted=0
    </select>

    <update id="updateUser">
        update market_user set  nickname=#{user.nickname},password =#{user.password},mobile=#{user.mobile},gender=#{user.gender},user_level=#{user.userLevel},status=#{user.status} where id=#{user.id}
    </update>
</mapper>
